.contactSection {
  padding: 128px 16px;
}

.contactSection,
.contactSection > h2,
.contactSection > p {
  text-align: center;
  font-size: 24px;
  margin: 8px;
}

.profilepic {
  width: 164px;
  border-radius: 50%;
  margin: 64px;
}

.contactIcons {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* BIGGER SCREENS than 745px------------------------------------------------------------ */

@media (min-width:746px) {
  .contactSection {
    max-width: 500px;
    margin: auto;
  }
}