.header {
  display: grid;
  grid-template-columns: repeat (4 1fr);
  padding: 16px;
  gap: 32px 16px;
  margin: 64px 0;
}

.profilepic {
  width: 60%;
  border-radius: 50%;
  grid-column: 2 / 5;
}

.header > div,
.header > div > h2,
.header > div > h1,
.header > p {
  grid-column: 1 / 5;
  margin: 0;
}

.header > div > h1 {
  color: #0B24F5;
  grid-column: 1 / 5;
}
