.skillsSectionContainer {
  padding: 128px 16px;
  background-color: #0B24F5;
  color: white;
  width: 100%;
}

.skillsSectionContainer h1{
  color: white;
  display: block;
  text-align: center;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
  max-width: 1000px;
  margin: auto;
}

.skillSetContainer p {
  margin: 3px;
}

.red {
  background-color: #EB5577;
}

.blue{
  background-color: #ffffff50;
}

.green{
  background-color: #6DB486;
}

.yellow{
  background-color: #FFDE30;
}

/* SCREENS max 745px ------------------------------------------------------------ */

@media (max-width: 745px) {
  .skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 400px;
    margin: auto;
  }

  .skillSetContainer h2{
    display: block;
    text-align: center;
  }

  .skillSetContainer p {
    display: block;
    text-align: center;
  }
}

/* TABLET SCREENS 745px to 1281px------------------------------------------------------------ */

@media (min-width:746px) and (max-width:1280px){
 
}
