.skillsContainer {
  padding: 128px 16px;
  gap: 32px 16px;
  background-color: #0B24F5;
  width: 100%;
}

.skillsContainer,
.skillSetContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsContainer h1,
.skillsContainer h2
 {
  display: block;
  text-align: center;
  color: white;
}

.skillSetContainer p {
  margin: 3px;
}

.red {
  background-color: #EB5577;
}

.blue{
  background-color: #ffffff50;
}

.green{
  background-color: #6DB486;
}

.yellow{
  background-color: #FFDE30;
}