.tech {
  padding: 128px 16px;
  gap: 32px 16px;
  color: white;
}

.tech > h1{
  color: white;
}

.tech > p {
  margin: 0;
}

.tech > p{
  font-size: 24px;
}

/* TABLET SCREENS max 745px ------------------------------------------------------------ */

@media (max-width:745px){ 

}

/* TABLET SCREENS 745px to 1281px------------------------------------------------------------ */

@media (min-width:746px) and (max-width:1280px){
  .tech{
    padding:128px 32px;
    max-width: 700px;
    margin: auto;
  }
  
  .tech h1 {
    font-size: 56px;
    text-align: center;
  }

  .tech > p {
    margin: 0;
    text-align: center;
  }
}

/* SCREENS 1281px to 1513xp------------------------------------------------------------ */

@media (min-width: 1281px) {
  .tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    padding:332px 0px;
    max-width: 1000px;
    margin: auto;
  }

  .tech > h1,
  .tech > p {
    margin: 0;
  }

  .tech h1 {
    font-size: 80px;
  }
}

