.tech {
  display: grid;
  grid-template-columns: repeat (4 1fr);
  padding: 128px 16px;
  gap: 32px 16px;
  background-color: #0B24F5;
  color: white;
}

.tech > h1{
  color: #ffffff;
}

.tech > p{
  font-size: 24px;
}

.tech > h1,
.tech > p {
  grid-column: 1 / 5;
  margin: 0;
}

.tech > div > h1 {
  color: #0B24F5;
  grid-column: 1 / 5;
}

